<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs', {title:'All Flights'}) %>
  <%- include('../layout/navbar.ejs') %>

    <body>
      <main class="container">
        <h1>The following seats have been sold:</h1>
        <form action='/flights/<%= flight._id %>/tickets' method='POST' class='flex flex-column'>
          <h2>Tickets For:</h2>
          <table>
            <tbody>
              <tr>
                <td>
                  <%= flight.airline %>
                </td>
                <td>
                  <%= flight.airport %>
                </td>
                <td>
                  <%= flight.flightNo %>
                </td>
              </tr>
            </tbody>
          </table>
          </h2>
          <label for='name' class='flex'>Name
            <input type="text" name="name" value="John Smith" password>
          </label>
          <label for='card' class='flex'>Card Number
            <input type="text" name="card"
              value="&#9679&#9679&#9679&#9679 &#9679&#9679&#9679&#9679 &#9679&#9679&#9679&#9679 &#9679&#9679&#9679&#9679">
          </label>
          <label for='cvv' class='flex'>CVV
            <input type="text" name="cvv" value=&#9679&#9679&#9679>
          </label>
          <label for='price' class='flex'>Price ($)
            <input type="text" name="price" value=<%=Math.floor(Math.random()*500+200) %>>
          </label>
          <label for="seat" class='flex'>Select Your Seat
            <input type="text" name="seat" id="" required pattern="[A-F][1-9]\d?"
              placeholder="Seats available are A1 through F99.">
          </label>
          <button type='submit'>Buy Ticket</button>
        </form>
      </main>
    </body>

</html>