<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs', {title:'All Flights'}) %>
    <%- include('../layout/navbar.ejs') %>

        <body>
            <main class="container">
                <h1>
                    Available Flights
                </h1>
                <table>
                    <thead>
                        <tr>
                            <th>Airline</th>
                            <th>Airport</th>
                            <th>Flight Number</th>
                            <th>Departs</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% flights.forEach(flight=> { %>
                            <tr>
                                <td>
                                    <%= flight.airline %>
                                </td>
                                <td>
                                    <%= flight.airport %>
                                </td>
                                <td>
                                    <%= flight.flightNo %>
                                </td>
                                <td>
                                    <%= new Date(flight.departs).toLocaleDateString()%>
                                        | <%= new Date(flight.departs).toLocaleTimeString() %>
                                </td>
                                <td>
                                    <a href="/flights/<%= flight._id %> " class="flex">Details</a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </main>
        </body>

</html>