<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs', {title:'All Flights'}) %>
    <%- include('../layout/navbar.ejs', {title:'All Flights'}) %>

        <body>
            <main class="container">
                <h1>
                    Available Flights
                </h1>
                <% flights.forEach(flight=> { %>
                    <div class="card">
                        <div>
                            <p>
                                <strong>Airline: </strong>
                                <%= flight.airline %>
                            </p>
                            <p>
                                <strong>Airport: </strong>
                                <%= flight.airport %>
                            </p>
                            <p>
                                <strong>Flight Number: </strong>
                                <%= flight.flightNo %>
                            </p>
                            <p>
                                <strong>Departs: </strong>
                                <%= new Date(flight.departs).toLocaleDateString()%>
                                    | <%= new Date(flight.departs).toLocaleTimeString() %>
                            </p>
                            <a href="/flights/<%= flight._id %> " class="flex">View Flight Details</a>
                        </div>
                        <div>
                            <img src="/images/undraw_world_re_768g.svg" alt="woman next to drawing of planet earth"
                                class="glowy">
                        </div>
                    </div>
                    <% }) %>
            </main>
        </body>

</html>