<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs', {title:'All Flights'}) %>
    <%- include('../layout/navbar.ejs') %>

        <body>
            <main class="container">
                <h1>Details for flight from <%= flight.airport %>
                </h1>
                <table>
                    <thead>
                        <tr>
                            <th>Airline</th>
                            <th>Airport</th>
                            <th>Flight Number</th>
                            <th>Destinations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <%= flight.airline %>
                            </td>
                            <td>
                                <%= flight.airport %>
                            </td>
                            <td>
                                <%= flight.flightNo %>
                            </td>
                            <td>
                                <% if (flight.destinations.length> 0) { %>
                                    <ul>
                                        <% flight.destinations.forEach(destination=> { %>
                                            <li>
                                                <%= destination.airport %> |
                                                    <%= new Date(destination.arrival).toLocaleDateString()%>
                                                        | <%= new Date(destination.arrival).toLocaleTimeString() %>
                                                            <% }) %>
                                            </li>
                                            <% } else{ %>
                                                <li>
                                                    No destinations. Add one below.
                                                </li>
                                                <% } %>
                                    </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <h2>Add a Destination to this Flight</h2>
                <form action="/flights/<%= flight._id %>/destinations" method="POST" class="flex flex-column">
                    <label for="airport" class="flex">Destination
                        <select name="airport" id="airport-select" required>
                            <option value="AUS">AUS</option>
                            <option value="DFW">DFW</option>
                            <option value="DEN">DEN</option>
                            <option value="LAX">LAX</option>
                            <option value="SAN">SAN</option>
                        </select>
                    </label>
                    <button type="submit">Add Destination</button>
                </form>
                <h3>View a List of Booked Seats</h3>
                <% if (tickets.length> 0) { %>
                    <!-- @TODO Display tickets -->
                    <% } else { %>
                        <p>No tickets created for this flight yet.</p>
                        <%}%>
                            <h3>Ready to Book?</h3>
                            <a href="/flights/<%= flight._id%>/tickets/new">Buy Tickets</a>
            </main>
        </body>

</html>