<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs', {title:'All Flights'}) %>
    <%- include('../layout/navbar.ejs', {title:'All Flights'}) %>

        <body>
            <main class="container">
                <h1>Details for flight from <%= flight.airport %>
                </h1>
                <div class="flex flex-column">
                    <div class="card">
                        <div>
                            <p>
                                <strong>Airline: </strong>
                                <%= flight.airline %>
                            </p>
                            <p>
                                <strong>Airport: </strong>
                                <%= flight.airport %>
                            </p>
                            <p>
                                <strong>Flight Number: </strong>
                                <%= flight.flightNo %>
                            </p>
                            <% if (flight.destinations.length> 0) { %>
                                <p>
                                    <strong>Flight Destinations:</strong><br />
                                    <% flight.destinations.forEach(destination=> { %>
                                        <br />

                                        <%= destination.airport %> |
                                            <%= new Date(destination.arrival).toLocaleDateString()%>
                                                | <%= new Date(destination.arrival).toLocaleTimeString() %>
                                                    <% }) %>
                                </p>
                                <% } %>
                                    <h3>Add a Destination to this Flight</h3>
                                    <form action="/flights/<%= flight._id %>/destinations" method="POST"
                                        class="flex flex-column">
                                        <label for="airport" class="flex">Destination
                                            <select name="airport" id="airport-select" required>
                                                <option value="AUS">AUS</option>
                                                <option value="DFW">DFW</option>
                                                <option value="DEN">DEN</option>
                                                <option value="LAX">LAX</option>
                                                <option value="SAN">SAN</option>
                                            </select>
                                        </label>
                                        <button type="submit">Add Destination</button>
                                    </form>
                        </div>
                    </div>

                </div>
            </main>
        </body>

</html>